{% extends "base.html" %}

{% block content %}
<div class="section no-pad-bot">
    <div class="container">
        <div class="row center"><h3>IMPOSTOR BOT</h3></div>
    </div>
</div>

<div class="section no-pad-top">
    <div class="container">
        <div class="section bot-section no-pad-bot z-depth-2">
            <div class="container bot-chats">
            </div>
        </div>
        
        <div class="section no-pad-top input-field">
            <input placeholder="e.g.: kanyewest" id="twitter_input" name="twitter_user" type="text" class="validate">
        </div>
        
        <div class="section no-pad-top">
            <button class="btn waves-effect waves-light submit-button" id='Submitbutton' onClick="do_that_thing()">Submit
            </button>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/init.js') }}"></script>
<script>
function do_that_thing()
{
  var twitter_pic = null; 
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (xhttp.readyState == 4 && xhttp.status == 200) {
      add_tweet(xhttp.responseText, twitter_pic); 
      $('.bot-section').animate({scrollTop: $('.bot-section')[0].scrollHeight - $('.bot-section').height()}, 300); 
    }
  };
  
  var xhttp_pic = new XMLHttpRequest();
  xhttp_pic.onreadystatechange = function() {
    if (xhttp_pic.readyState == 4 && xhttp_pic.status == 200) { 
      twitter_pic = xhttp_pic.responseText; 
    }
  };
  var user = document.getElementById('twitter_input').value
  xhttp_pic.open("GET", "/getPic/" + user, true);
  xhttp_pic.send();
  xhttp.open("GET", "/getTweet/" + user, true);
  thinking(user); 
  xhttp.send();
}
</script>
{% endblock %}
